KB_HOST_PORT=3001
KB_DB_USER=CoPilot_KB
KB_DB_PASSWORD=replace-me
KB_DB_SERVER=kgaprd-sql.gkaneka.local
KB_DB_NAME=AIM_KANEKA
KB_API_KEY=replace-kb-api-key
KB_SENTRY_DSN=
KB_NODE_ENV=production
KB_TRUST_CERT=false
KB_ASSET_DB=AIM_KANEKA
KB_DOCUMENT_DB=AIM_KANEKA
KB_ASSET_VIEW=BCAssetPropertiesViewByNameBCE
KB_PROJECT_VIEW=ProjectPropertiesView
KB_DOCUMENT_VIEW=DocumentPropertiesViewCoPilot
KB_ASSET_DOC_REF_VIEW=AssetDocRefViewCoPilot

KNA_HOST_PORT=3002
KNA_DB_USER=CoPilot_KNA
KNA_DB_PASSWORD=replace-me
KNA_DB_SERVER=kgaprd-sql.gkaneka.local
KNA_DB_NAME=AIM_KNA
KNA_API_KEY=replace-kna-api-key
KNA_SENTRY_DSN=
KNA_NODE_ENV=production
KNA_TRUST_CERT=false
KNA_ASSET_DB=AIM_KNA
KNA_DOCUMENT_DB=AIM_KNA
KNA_ASSET_VIEW=KNA_BCAssetPropertiesViewByNameBCE
KNA_PROJECT_VIEW=KNA_ProjectPropertiesView
KNA_DOCUMENT_VIEW=KNA_DocumentPropertiesViewCoPilot
KNA_ASSET_DOC_REF_VIEW=KNA_AssetDocRefViewCoPilot
